---
apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: ootb-gateway
  namespace: west-istio-system
spec:
  selector:
    app: istio-ingressgateway # use istio default controller
  servers:
  - port:
      number: 80
      name: http2
      protocol: HTTP
    hosts:
    - "*"
